@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?516gby');
  src:  url('../fonts/icomoon.eot?516gby#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?516gby') format('truetype'),
    url('../fonts/icomoon.woff?516gby') format('woff'),
    url('../fonts/icomoon.svg?516gby#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-googleearth-engine_104576 .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-googleearth-engine_104576 .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(134, 144, 148);
}
.icon-googleearth-engine_104576 .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-googleearth-engine_104576 .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(54, 123, 240);
}
